In [6]:
import numpy as np
import pandas as pd
df = pd.read_csv('../datasets/international-airline-passengers.csv', engine="python", skipfooter=3)
df.columns = ['month','passengers']

Create a new column where value of each row is derived from values already in it's row

In [7]:
# Convert 'month' column to datetime
from datetime import datetime

In [8]:
# Example:
datetime.strptime("1945-05", "%Y-%m")

datetime.datetime(1945, 5, 1, 0, 0)

In [10]:
df['dt'] = df.apply(lambda row: datetime.strptime(row['month'], "%Y-%m"), axis=1)

In [12]:
df.head()

     month  passengers         dt
0  1949-01         112 1949-01-01
1  1949-02         118 1949-02-01
2  1949-03         132 1949-03-01
3  1949-04         129 1949-04-01
4  1949-05         121 1949-05-01